{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit informations</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div>
                <h2 class="small-title">{{ form.email.vars.label }}</h2>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                <h2 class="small-title">{{ form.username.vars.label }}</h2>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div class="buttons-container gap-4">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(form) }}
            {{ form_start(passwordForm) }}
            <div>
                <h2 class="small-title">{{ passwordForm.currentPassword.vars.label }}</h2>
                {{ form_widget(passwordForm.currentPassword) }}
                {{ form_errors(passwordForm.currentPassword) }}
                <p class="text-sm mt-2">Enter your current password to confirm your identity.</p>
            </div>
            <div>
                <h2 class="small-title">{{ passwordForm.plainPassword.first.vars.label }}</h2>
                {{ form_widget(passwordForm.plainPassword.first) }}
                {{ form_errors(passwordForm.plainPassword.first) }}
            </div>
            <div>
                <h2 class="small-title">{{ passwordForm.plainPassword.second.vars.label }}</h2>
                {{ form_widget(passwordForm.plainPassword.second) }}
                {{ form_errors(passwordForm.plainPassword.second) }}
            </div>
            <div class="buttons-container gap-4">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
