{% extends 'layout.html.twig' %}

{% set title = 'Edit profile' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit informations</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('profile') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
                {#                <a class="button button-action" href="{{ path('user_edit', {'id': user.id}) }}"> #}
                {#                    <span class="material-icons">edit</span> #}
                {#                </a> #}
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

{#            {{ include('partials/question/error.html.twig') }}#}

{#            {% for label, messages in app.flashes %}#}
{#                {% for message in messages %}#}
{#                    <div class="alert alert-{{ label }}">#}
{#                        {{ message }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}

{#            {% if form.vars.errors|length > 0 %}#}
{#                <div class="alert alert-danger">#}
{#                    {{ form_errors(form) }}#}
{#                </div>#}
{#            {% endif %}#}

{#            {% for message in app.flashes('success') %}#}
{#                <div class="alert alert-success">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}

            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">alternate_email</span>
                    {{ form.email.vars.label }}
                </h2>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">person</span>
                    {{ form.username.vars.label }}
                </h2>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>

            {#            {{ include('partials/question/image.html.twig') }} #}
            {{ include('partials/question/image.html.twig', {'type': user}) }}


            {#            <div> #}
            {#                <h2 class="small-title">{{ form.image.vars.label }}</h2> #}
            {#                {{ form_widget(form.image) }} #}
            {#                {{ form_errors(form.image) }} #}
            {#            </div> #}

            <div class="buttons-container">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(form) }}
            {{ form_start(passwordForm) }}
            <div>
                <h2 class="small-title">
                    <span class="material-icons">key</span>
                    {{ passwordForm.currentPassword.vars.label }}
                </h2>
                {{ form_widget(passwordForm.currentPassword) }}
                {{ form_errors(passwordForm.currentPassword) }}
                <p class="text-sm mt-2">Enter your current password to confirm your identity.</p>
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">key</span>
                    {{ passwordForm.plainPassword.first.vars.label }}
                </h2>
                {{ form_widget(passwordForm.plainPassword.first) }}
                {{ form_errors(passwordForm.plainPassword.first) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">replay</span>
                    {{ passwordForm.plainPassword.second.vars.label }}
                </h2>
                {{ form_widget(passwordForm.plainPassword.second) }}
                {{ form_errors(passwordForm.plainPassword.second) }}
            </div>
            <div class="buttons-container">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
