{% extends 'layout.html.twig' %}

{% set title = 'Edit profile' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit informations</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('profile') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/form/errors.html.twig') }}
            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">alternate_email</span>
                    {{ form.email.vars.label }}
                </h2>
                {{ form_widget(form.email) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">person</span>
                    {{ form.username.vars.label }}
                </h2>
                {{ form_widget(form.username) }}
            </div>

            {{ include('partials/form/image.html.twig', {'type': user}) }}

            <div class="buttons-container">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(form) }}

            {{ form_start(passwordForm) }}
            <div>
                <h2 class="small-title">
                    <span class="material-icons">key</span>
                    {{ passwordForm.currentPassword.vars.label }}
                </h2>
                {{ form_widget(passwordForm.currentPassword) }}
                <p class="text-sm mt-2">Enter your current password to confirm your identity.</p>
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">key</span>
                    {{ passwordForm.plainPassword.first.vars.label }}
                </h2>
                {{ form_widget(passwordForm.plainPassword.first) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">replay</span>
                    {{ passwordForm.plainPassword.second.vars.label }}
                </h2>
                {{ form_widget(passwordForm.plainPassword.second) }}
            </div>
            <div class="buttons-container">
                <a href="{{ path('profile') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
