{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

{#    {{ include('partials/banner.html.twig') }}#}
    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Profile</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('profile_edit') }}">
                    <span class="material-icons">edit</span>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/user/username.html.twig', _context) }}
            {{ include('partials/user/email.html.twig', _context) }}
            {{ include('partials/user/roles.html.twig', _context) }}
            {{ include('partials/user/last-authentication.html.twig', _context) }}
            {{ include('partials/user/inscription.html.twig', _context) }}
{#            {{ include('partials/user/informations.html.twig', _context) }}#}

        </div>
    </div>


{% endblock %}
