{% extends 'layout.html.twig' %}

{% set title = 'Login' %}

{% block meta_description %}Sign in to QuizStack to track your progress, save your favorite web development quizzes, and challenge yourself with daily coding questions{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Login</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <p> You are logged in as {{ app.user.userIdentifier }}.</p>
                    <div class="buttons-container">
                        <a href="{{ path('app_logout') }}" class="button button-primary button-red">Logout</a>
                    </div>
                {% else %}
                    <div>
                        <label class="small-title" for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username"
                               class="form-control"
                               autocomplete="email" required autofocus>
                    </div>
                    <div>
                        <label class="small-title" for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control"
                               autocomplete="current-password" required>
                    </div>
                    <div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="buttons-container">
                        <button class="button button-primary" type="submit">
                            Sign in
                        </button>
                    </div>
                {% endif %}

            </form>

        </div>
    </div>
{% endblock %}
