{% extends 'layout.html.twig' %}

{% set title = 'Inscription' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Register</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/form/errors.html.twig') }}

            {{ form_start(registrationForm) }}

            <div>
                <h2 class="small-title">{{ registrationForm.email.vars.label }}</h2>
                {{ form_widget(registrationForm.email) }}
            </div>
            <div>
                <h2 class="small-title">{{ registrationForm.username.vars.label }}</h2>
                {{ form_widget(registrationForm.username) }}
            </div>
            <div>
                <h2 class="small-title">{{ registrationForm.plainPassword.vars.label }}</h2>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div>
                <ul class="tags-container">
                    <li class="flex">
                        <span class="tag">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            {{ form_label(registrationForm.agreeTerms) }}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="buttons-container flex-col-reverse items-end">
                <a class="button button-tertiary" href="{{ path('app_login') }}">Already have an account ?</a>
                <button class="button button-primary" type="submit">Register</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}