{% block body %}

    <form action="{{ path('quiz') }}" method="GET" id="questionForm">

        <h2 class="text-3xl">Levels</h2>
        <ul>
            <li>
                <input type="radio" value="1" name="difficulty">Easy</button>
                <input type="radio" value="2" name="difficulty">Medium</button>
                <input type="radio" value="3" name="difficulty">Hard</button>
            </li>
        </ul>

        <h2 class="title">Categories</h2>

        <ul class="categories-container grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-spacing-primary">
            {% for category in categories %}
                <li class="choice-option glass font-bold {{ category.color }}">

                    <div class="color-layer absolute top-0 left-0  w-full h-full z-10"
                         style="mask-image: url({{ asset('images/categories/pattern.png') }});"></div>
                    <fieldset class="checkbox-group z-20">
                        <label for="category-{{ category.name }}">
                            <input type="checkbox"
                                   id="category-{{ category.name }}"
                                   value="{{ category.name }}"
                                   name="category[]"
                                   class="checkbox-input"/>
                            <span class="checkbox-tile box">
                            <span class="checkbox-label text-center">
                                {{ category.name }}
                            </span>
                        </span>
                        </label>
                    </fieldset>
                </li>
            {% else %}
                <li>No categories found.</li>
            {% endfor %}
        </ul>

        <div class="buttons-container justify-center gap-4">
            <a href="{{ path('quiz') }}" class="button button-tertiary">Play without filters</a>
            <button class="button button-primary" type="submit">Play</button>
        </div>

    </form>

{% endblock %}

{% block javascripts %}{% endblock %}