{% block body %}

{#    <hr>#}

{#    <div class="low-light left"></div>#}

    <div class="wrapper">
        <div id="filters-section" class="page-header-container">
            <h1 class="big-title grow">Filters</h1>
        </div>

        <form action="{{ path('quiz') }}" method="GET" id="questionForm">
            <div class="filters-container flex flex-col gap-spacing-primary">
                <ul class="categories-container w-full grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-spacing-primary">
                    {% for category in categories %}
                        <li class="choice-option glass font-bold {{ category.color }}">
                            <fieldset class="checkbox-group z-20">
                                <label for="category-{{ category.name }}">
                                    <input type="checkbox"
                                           id="category-{{ category.name }}"
                                           value="{{ category.name }}"
                                           name="category[]"
                                           class="checkbox-input"/>
                                    <span class="checkbox-tile box">
                                <span class="checkbox-label text-center">
                                    {{ category.name }}
                                </span>
                            </span>
                                    <div class="color-layer absolute top-0 left-0  w-full h-full z-10"
                                         style="mask-image: url({{ asset('images/categories/pattern.png') }});"></div>
                                </label>
                            </fieldset>
                        </li>
                    {% else %}
                        <li>No categories found.</li>
                    {% endfor %}
                </ul>

                <div class="filters-bottom-container flex flex-wrap gap-spacing-primary justify-between">

                    <div class="radio-input-container flex grow">
                        <ul class="switch glass box">
                            <li>
                                <input id="switch-all" name="difficulty" type="radio" value="all" class="switch-input"
                                       checked/>
                                <label for="switch-all" class="switch-label switch-label-all">All</label>
                            </li>
                            <li>
                                <input id="switch-easy" name="difficulty" type="radio" value="1" class="switch-input"/>
                                <label for="switch-easy" class="switch-label switch-label-easy">Easy</label>
                            </li>
                            <li>
                                <input id="switch-medium" name="difficulty" type="radio" value="2"
                                       class="switch-input"/>
                                <label for="switch-medium" class="switch-label switch-label-medium">Medium</label>
                            </li>
                            <li>
                                <input id="switch-hard" name="difficulty" type="radio" value="3" class="switch-input"/>
                                <label for="switch-hard" class="switch-label switch-label-hard">Hard</label>
                            </li>
                        </ul>
                    </div>

                    <div class="buttons-container grow">
                        <a href="{{ path('quiz') }}" class="button button-tertiary">Play without filters</a>
                        <button class="button button-primary" type="submit">Play</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block javascripts %}{% endblock %}