<footer class="flex flex-col  pt-spacing-large-primary pb-spacing-large-secondary">
    <hr class="mb-spacing-large-secondary"/>
    <div class="wrapper">
        <div class="footer-container gap-spacing-primary flex flex-col w-full">

            <div class="footer-top-container flex items-center justify-between w-full">
                <div class="site-identity-container">
                    <a href="{{ path('app_home') }}" class="flex gap-4 items-center">
                        <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo" class="h-10 object-contain">
                        <div class="flex flex-col gap-1">
                            <p class="font-bold">Quizstack</p>
                            <p class="muted">
                                Master web development through interactive quiz
                            </p>
                        </div>
                    </a>
                </div>
                <div class="networks-container">
                    <a href="https://github.com/FlorianJourde/Quizstack" target="_blank">
                        <img src="{{ asset('images/logos/github-logo.png') }}" alt="GitHub logo"
                             class="h-5 button object-contain button-tertiary">
                    </a>
                </div>
            </div>

            <nav class="footer-bottom-container flex flex-col flex-wrap gap-spacing-secondary">
                <ul class="flex flex-wrap gap-spacing-secondary">

                    {{ include('partials/links.html.twig') }}

                </ul>

                <ul class="flex flex-wrap gap-spacing-secondary muted">

                    <li>
                        <a href="{{ path('app_cookie_policy') }}" class="button button-tertiary">
                            Cookie Policy
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_privacy_policy') }}" class="button button-tertiary">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_terms_of_service') }}" class="button button-tertiary">
                            Terms of Service
                        </a>
                    </li>
                </ul>

            </nav>

            <p class="muted">© {{ "now"|date("Y") }} Quizstack</p>

        </div>
    </div>
</footer>