<footer class="flex flex-col  pt-spacing-large-primary pb-spacing-large-secondary">
    <hr class="mb-spacing-large-secondary"/>
    <div class="wrapper">
        <div class="footer-container gap-spacing-large-secondary flex flex-col w-full">

            <div class="footer-top-container flex flex-col sm:flex-row items-stretch gap-spacing-large-secondary justify-between w-full">
                <div class="flex flex-row sm:flex-col items-center sm:items-start gap-spacing-primary">

                    <div class="site-identity-container grow">
                        <a href="{{ path('app_home') }}" class="flex gap-4 items-center">
                            <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo"
                                 class="h-10 object-contain">
                            <div class="flex flex-col gap-1">
                                <p class="font-bold">Quizstack</p>
                                <p class="button button-tertiary muted">
                                    Learn web development <br/> through interactive quiz
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="networks-container flex gap-spacing-primary">
                        <a href="https://www.instagram.com/quizstackapp/" target="_blank">
                            <img src="{{ asset('images/logos/instagram-logo.png') }}" alt="Instagram logo"
                                 class="h-5 button object-contain button-tertiary rounded-none">
                        </a>
                        <a href="https://x.com/quizstackapp" target="_blank">
                            <img src="{{ asset('images/logos/x-logo.png') }}" alt="X logo"
                                 class="h-5 button object-contain button-tertiary rounded-none">
                        </a>
                        <a href="https://github.com/FlorianJourde/Quizstack" target="_blank">
                            <img src="{{ asset('images/logos/github-logo.png') }}" alt="GitHub logo"
                                 class="h-5 button object-contain button-tertiary rounded-none">
                        </a>
                    </div>
                </div>

                <nav class=" grid grid-cols-2 gap-spacing-primary">
                    <div class="links-container flex flex-col gap-spacing-secondary">
                        <h2 class="text-sm">Pages</h2>
                        <ul class="flex flex-col gap-spacing-secondary">

                            {{ include('partials/links.html.twig') }}

                        </ul>
                    </div>

                    <div class="links-container flex flex-col gap-spacing-secondary">
                        <h2 class="text-sm">Legals</h2>
                        <ul class="flex flex-col gap-spacing-secondary">
                            <li>
                                <a href="{{ path('app_cookie_policy') }}" class="button button-tertiary">
                                    Cookie policy
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_privacy_policy') }}" class="button button-tertiary">
                                    Privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_terms_of_service') }}" class="button button-tertiary">
                                    Terms of service
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_contact') }}" class="button button-tertiary">
                                    <span class="material-icons">mail</span>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>

            </div>

            <div class="footer-bottom-container flex justify-center">
                <p class="muted">© {{ "now"|date("Y") }} Quizstack</p>
            </div>

        </div>
    </div>
</footer>