<header class="flex justify-between items-center">
    <a href="{{ path('app_home') }}" class="flex gap-5 items-center">
        <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo" class="h-12">
        Quizstack
    </a>

    <ul>
        {#        <a href="{{ path('user') }}"> #}

{#        {% if is_granted('ROLE_ADMIN') %}#}
            <a href="{{ path('scores') }}">
                Scores
            </a>
{#        {% endif %}#}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('users') }}">
                Users
            </a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('categories') }}">
                Categories
            </a>
        {% endif %}

        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ path('questions') }}">
                Questions
            </a>
        {% endif %}


        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_logout') }}">
                Logout
            </a>
        {% else %}
            <a href="{{ path('app_login') }}">
                Login
            </a>
            <a href="{{ path('app_register') }}">
                Register
            </a>
        {% endif %}


        {#        {% if is_granted('ROLE_USER') %} #}
        {#            <a href="{{ path('app_logout') }}"> #}
        {#                Logout #}
        {#            </a> #}
        {#        {% else %} #}

        {#        {% endif %} #}
        {#        <a href="{{ path('app_login')}}"> #}
        {#            Login #}
        {#        </a> #}

        {#        <a href="{{ path('app_register')}}"> #}
        {#            Register #}
        {#        </a> #}

    </ul>
</header>