<header class="flex justify-between items-center z-10">
    <div class="wrapper">
        <div class="header-container flex flex-col w-full">

            <div class="header-top-container flex items-center justify-between w-full">
                <a href="{{ path('app_home') }}" class="flex gap-4 items-center font-secondary text-xl">
                    <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo" class="h-10">
                    Quizstack
                </a>
                <div class="buttons-container gap-2">
                    <button id="button-menu" class="button button-action">
                        <span class="material-icons">menu</span>
                    </button>
                </div>
            </div>

            <nav class="header-bottom-container">
                {#                <ul class="dark-glass grid sm:grid-cols-2 box rounded-radius-primary gap-spacing-secondary mt-spacing-primary"> #}
                <ul class="glass bg-dark-grey-secondary flex flex-col box rounded-radius-primary gap-spacing-primary">

                    {#                    {{ include(partials }} #}

                    {{ include('partials/links.html.twig') }}

                    <div class="buttons-container">
                        {% if is_granted('ROLE_USER') %}
                            <li>
                                <a href="{{ path('app_logout') }}" class="button button-primary button-red">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="button button-secondary">Login</a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}" class="button button-primary">Register</a>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </nav>

        </div>
    </div>
</header>