<header class="flex justify-between items-center z-20">
    <div class="wrapper">
        <div class="header-container flex flex-col w-full">
            <div class="header-top-container flex items-center justify-between w-full">
                <a href="{{ path('app_home') }}" class="flex gap-4 items-center font-bold text-xl">
                    <img src="{{ asset('images/logos/quizstack-logo.png') }}" alt="Quizstack logo" class="h-8">
                    Quizstack
                </a>
                <div class="buttons-container gap-2 sm:gap-4">

                    <ul class="hidden sm:flex header-main-container buttons-container gap-2 sm:gap-4">

                        {% if is_granted('ROLE_USER') %}
                            <li>
                                <a href="{{ path('app_logout') }}"
                                   class="button button-primary border-none button-dark-grey">
                                    <span>Logout</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="button button-tertiary">
                                    <span>Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}"
                                   class="button button-primary border-none button-dark-grey">
                                    <span>
                                    Register
                                    </span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>

{#                    <button class="button button-action">#}
{#                    <a href="{{ path('quiz') }}" class="button button-tertiary">#}
{#                        <span class="material-icons">play_arrow</span>#}
{#                    </a>#}
{#                    </button>#}

                    <button id="button-menu" class="button button-action">
                        <span class="material-icons">menu</span>
                    </button>
                </div>
            </div>
            <nav class="header-bottom-container">
                <ul class="glass bg-dark-grey-secondary flex flex-col box rounded-radius-primary gap-spacing-primary">

                    {{ include('partials/links.html.twig') }}

                    {% if is_granted('ROLE_USER') %}
                        <li class="bg-very-dark-grey-primary flex flex-col p-spacing-primary gap-spacing-primary rounded-radius-primary ">
                            <ul class="flex flex-col gap-spacing-primary">
                                <li>
                                    <a href="{{ path('profile') }}" class="button button-tertiary">
                                        <span class="material-icons">person</span>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('questions') }}" class="button button-tertiary">
                                        <span class="material-icons">question_mark</span>
                                        Questions
                                    </a>
                                </li>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('users') }}" class="button button-tertiary">
                                            <span class="material-icons">group</span>
                                            Users
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('categories') }}" class="button button-tertiary">
                                            <span class="material-icons">category</span>
                                            Categories
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <ul class="buttons-container sm:hidden">

                        {% if is_granted('ROLE_USER') %}
                            <li>
                                <a href="{{ path('app_logout') }}" class="button button-primary button-red">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="button button-tertiary">Login</a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}" class="button button-primary">Register</a>
                            </li>
                        {% endif %}

                    </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>