<div class="wrapper">
    <div class="page-separator-container">
        <h2 class="title">They talk about us</h2>
    </div>
</div>

<div class="wrapper wrapper-large pb-spacing-large-primary">
    <ul class="testimonials columns-1 sm:columns-2 lg:columns-3 gap-spacing-primary">
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Integrated Quizstack into my web development curriculum. Students love the interactive challenges and
                real-time progress tracking.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/john.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">John D.</p>
                    <p class="muted">Computer sciencist</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Perfect for learning web development fundamentals. The PHP and SQL questions prepared me for real-world
                coding challenges.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/andrew.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Andrew T.</p>
                    <p class="muted">Web developer student</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Switched to web development at 30. Quizstack's mobile-friendly quizzes helped me practice HTML, CSS, and
                JavaScript during my commute. Amazing !</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/emma.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Emma B.</p>
                    <p class="muted">Career changer</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Perfect for interviews preparation.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/steve.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Steve O.</p>
                    <p class="muted">Self-taught developer</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>The performance optimization questions are excellent for senior-level challenges.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/ian.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Ian M.</p>
                    <p class="muted">Tech lead</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Perfect platform for testing Angular and React knowledge.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/louise.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Louise B.</p>
                    <p class="muted">Frontend architect</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>This coding quiz game makes learning JavaScript so addictive ! Perfect for daily practice sessions. Best
                web development game I've ever used.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/justin.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Justin B.</p>
                    <p class="muted">Junior frontend developer</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Preparing for exams with Quizstack's comprehensive HTML, CSS, and JavaScript quizzes. The explanations
                help me understand concepts better.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/nina.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Nina B.</p>
                    <p class="muted">IT student</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Quizstack complements my tutorials perfectly. Students practice coding skills while I track their
                progress through detailed analytics.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/james.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">James S.</p>
                    <p class="muted">Online course creator</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Building my own website required coding knowledge. Quizstack's practical questions taught me HTML, CSS,
                and JavaScript fundamentals efficiently.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/philip.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Philip V.</p>
                    <p class="muted">Designer transitioning</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Mobile access is brilliant !</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/ryan.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Ryan P.</p>
                    <p class="muted">University graduate</p>
                </div>
            </div>
        </li>
        <li class="testimonial fade-in-up box flex flex-col gap-spacing-primary">
            <p>Expanding my services to include web development. Daily practice with Quizstack's comprehensive quizzes
                boosted my confidence and skills.</p>
            <div class="user-infos-container flex flex-wrap flex-row-reverse text-right gap-spacing-secondary items-center grow">
                <img class="aspect-square rounded-full w-12 xl:w-12 object-cover"
                     alt="Profile picture" src="{{ asset('images/testimonials/thomas.jpg') }}">
                <div class="flex flex-col gap-2">
                    <p class="font-bold">Thomas A.</p>
                    <p class="muted">Freelance</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="low-light separator"></div>