{% extends 'layout.html.twig' %}

{% set title = 'Reset your password' %}

{% block meta_description %}Reset your Quizstack password to continue learning web development. Secure access to free HTML, CSS, JavaScript, PHP and SQL coding quizzes on any device{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ include('partials/banner.html.twig', {'color': 'blue'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Reset your password</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ form_start(requestForm) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">alternate_email</span>
                    {{ requestForm.email.vars.label }}
                </h2>
                {{ form_widget(requestForm.email) }}
                <p class="mt-2">
                    Enter your email address and we will send you a
                    link to reset your password.
                </p>
            </div>

            <div class="buttons-container">
                <button class="button button-primary">Send</button>
            </div>

            {{ form_end(requestForm) }}

        </div>
    </div>

{% endblock %}
