{% extends 'layout.html.twig' %}

{% set title = 'Reset your password' %}

{% block meta_description %}Password reset email sent to your inbox. Follow the link to reset your Quizstack password and continue your web development learning journey{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue', 'animate' : 'animate'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Reset your password</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ form_start(resetForm) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">key</span>
                    {{ resetForm.plainPassword.first.vars.label }}
                </h2>
                {{ form_widget(resetForm.plainPassword.first) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">replay</span>
                    {{ resetForm.plainPassword.second.vars.label }}
                </h2>
                {{ form_widget(resetForm.plainPassword.second) }}
            </div>

            <div class="buttons-container">
                <button class="button button-primary">
                    Reset password
                </button>
            </div>

            {{ form_end(resetForm) }}

        </div>
    </div>
{% endblock %}
