{% extends 'layout.html.twig' %}

{% set title = 'Edit categories' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit categories</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('categories') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
                {#                <a class="button button-action" href="{{ path('user_edit', {'id': user.id}) }}"> #}
                {#                    <span class="material-icons">edit</span> #}
                {#                </a> #}
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="form-container glass box bg-dark-grey-secondary">
            <h2 class="small-title">

                Add category
            </h2>

            {{ form_start(addForm) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">title</span>
                    {{ addForm.name.vars.label }}
                </h2>
                {{ form_widget(addForm.name) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">palette</span>

                    {{ addForm.color.vars.label }}
                </h2>
                {{ form_widget(addForm.color) }}
            </div>
            {#            <div class="buttons-container mb-4 gap-4"> #}
            {#                <button type="submit" class="button button-primary">Add</button> #}
            {#            </div> #}


            <div class="buttons-container">
                <a href="{{ path('categories') }}" class="button button-tertiary">Cancel</a>
                {#                <button type="submit" class="button button-primary">Save</button> #}
                {#                {{ form_widget(editForm.save) }} #}
                <button type="submit" class="button button-primary">Add</button>


            </div>


            {{ form_end(addForm) }}

        </div>
        {#    </div> #}

        {#    <div class="wrapper wrapper-large"> #}
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ form_start(editForm) }}

            <div class="overflow-auto">
                <table class="table glass text-center">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Position</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categoryField in editForm.categories %}
                        {% set category = categoryField.vars.data %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.position }}</td>
                            <td>{{ form_widget(categoryField.name) }}</td>
                            <td>{{ form_widget(categoryField.color) }}</td>


                            <td>
                                <span class="text-xs rounded-sm px-2 py-1 {{ category.status ? 'bg-green-secondary/50' : 'bg-red-secondary/50' }}">
                                    {{ category.status ? 'online' : 'offline' }}
                                </span>
                            </td>
                            <td>

                                {#                                <div class="buttons-container"> #}
                                {#                                    <a class="button button-action" href="{{ path('user_edit', {'id': user.id}) }}"> #}
                                {#                                        <span class="material-icons">edit</span> #}
                                {#                                    </a> #}
                                {#                                </div> #}
                                <div class="buttons-container justify-center">

                                    {% if not loop.first %}
                                        <a href="{{ path('category_move_up', {'id': category.id}) }}"
                                           class="button button-action">
                                            <span class="material-icons">arrow_upward</span>
                                        </a>
                                    {% endif %}

                                    {% if not loop.last %}
                                        <a href="{{ path('category_move_down', {'id': category.id}) }}"
                                           class="button button-action">
                                            <span class="material-icons">arrow_downward</span>
                                        </a>
                                    {% endif %}

                                    {#                                    <a href="{{ path('category_move_up', {'id': category.id}) }}" class="button"> #}
                                    {#                                        <span class="material-icons">arrow_upward</span> #}
                                    {#                                    </a> #}
                                    {#                                    <a href="{{ path('category_move_down', {'id': category.id}) }}" class="button"> #}
                                    {#                                        <span class="material-icons">arrow_downward</span> #}
                                    {#                                    </a> #}

                                    <a href="{{ path('category_toggle', {'id': category.id}) }}"
                                       class="button button-action">
                                        {#                                        {{ category.status ? 'Disable' : 'Enable' }} #}
                                        {% if category.status %}
                                            <span class="material-icons">toggle_on</span>
                                        {% else %}
                                            <span class="material-icons">toggle_off</span>
                                        {% endif %}
                                    </a>

                                    {{ form_widget(categoryField.delete, {
                                        'label': '<span class="material-icons">delete</span>',
                                        'label_html': true
                                    }) }}

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No categories found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {#            <div class="buttons-container mb-4 gap-4"> #}
            {#                {{ form_widget(editForm.save) }} #}
            {#            </div> #}


            <div class="buttons-container">
                <a href="{{ path('categories') }}" class="button button-tertiary">Cancel</a>
                {#                <button type="submit" class="button button-primary">Save</button> #}
                {{ form_widget(editForm.save) }}

            </div>

            {{ form_end(editForm) }}

        </div>

    </div>
{% endblock %}