{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <h1 class="text-5xl">Categories</h1>
        <div class="buttons-container flex mb-4 gap-4 justify-end">
            <a class="button button-primary" href="{{ path('categories_edit') }}">Edit</a>
        </div>
    </div>

    <div class="wrapper wrapper-large">
        <div class="overflow-auto">
            <table class="table glass">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>
                        <span class="text-xs rounded-sm px-2 py-1 {{ category.status ? 'bg-green-secondary/50' : 'bg-red-secondary/50' }}">
                            {{ category.status ? 'online' : 'offline' }}
                        </span>
                        </td>
                        <td>{{ category.name }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No categories.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}