{% extends 'layout.html.twig' %}

{% set title = 'Edit question' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit question {{ question.id }}</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('questions') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div id="quiz-container" data-mode="{{ mode }}" data-question-id="{{ questionId }}"
             data-show-comments="{{ showComments }}"></div>
    </div>


    <div class="wrapper">
        <div class="page-separator-container">
            <h2 class="title">Dashboard</h2>
        </div>
    </div>

    <div class="wrapper">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/form/errors.html.twig') }}

            {{ form_start(form) }}
            {{ include('partials/question/content.html.twig', _context) }}
            {{ include('partials/question/explanation.html.twig', _context) }}

{#            {{ include('partials/question/image.html.twig', _context) }}#}

            {{ include('partials/question/difficulty.html.twig', _context) }}
            {{ include('partials/form/image.html.twig', {'type': question}) }}
            {{ include('partials/question/categories.html.twig', _context) }}
            {{ include('partials/question/choices.html.twig', _context) }}
            {{ include('partials/question/status.html.twig', _context) }}

            <div class="buttons-container">
                <a href="{{ path('questions') }}" class="button button-tertiary">Cancel</a>
                {{ form_row(form.delete) }}
                <button class="button button-primary" type="submit">Update</button>
            </div>

{#            <form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Ar you sure to remove this user ?');" style="display: inline-block">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('delete-user-' ~ user.id) }}">#}
{#                <button class="btn btn-danger">Supprimer</button>#}
{#            </form>#}

            {{ form_end(form) }}


        </div>
    </div>

{#    <div class="wrapper">#}
{#        <div class="page-separator-container">#}
{#            <h2 class="title">Preview</h2>#}
{#        </div>#}
{#    </div>#}


{% endblock %}