{# {% extends '../base.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="buttons-container flex mb-4 gap-4 justify-end">
            <a class="btn btn-primary" href="{{ path('question_new') }}">New</a>
        </div>
    </div>

    <div class="wrapper wrapper-large">
        <div class="overflow-auto">
            <table class="table glass">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Categories</th>
                    <th>Update date</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.content|slice(0, 90) ~ (question.content|length > 90 ? '...' : '') }}</td>
                    <td>
                        <ul class="categories-container flex flex-wrap gap-2 justify-center">
                            {% for category in question.categories %}
                                <li>
                                    <span class="text-xs rounded-sm px-2 py-1 bg-black/50">{{ category.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ question.updateDate|date('d/m/y') }}</td>
                    <td>
                        {% if question.status %}
                            <span class="text-xs rounded-sm px-2 py-1 bg-green-secondary/50">online</span>
                        {% else %}
                            <span class="text-xs rounded-sm px-2 py-1 bg-red-secondary/50">offline</span>
                        {% endif %}
                    </td>
                    <td>{{ question.user.username }}</td>
                    <td>
                        <div class="buttons-container flex gap-2 justify-center">
                            <a href="{{ path('question', {'id': question.id}) }}" class="btn btn-action">
                                <span class="material-icons">edit</span>
                            </a>
                            <a href="{{ path('question_edit', {'id': question.id}) }}" class="btn btn-action">
                                <span class="material-icons">delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(questions) }}
            </div>

        </div>
    </div>

{% endblock %}