{# {% extends '../base.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <h1 class="text-5xl">Questions</h1>
        <div class="buttons-container flex mb-4 gap-4 justify-end">
            <a class="button button-primary" href="{{ path('question_new') }}">New</a>
        </div>
    </div>

    <div class="wrapper wrapper-large">

        <div class="overflow-auto">
            <table class="table glass">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Categories</th>
                    <th>Update date</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for question in questions %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.content|slice(0, 90) ~ (question.content|length > 90 ? '...' : '') }}</td>
                        <td>
                            <ul class="tags-container justify-center">
                                {% for category in question.categories %}
                                    <li>
                                        <span class="tag tag-small">{{ category.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ question.updateDate|date('d/m/y') }}</td>
                        <td>
                            <span class="text-xs rounded-sm px-2 py-1 {{ question.status ? 'bg-green-secondary/50' : 'bg-red-secondary/50' }}">
                                {{ question.status ? 'online' : 'offline' }}
                            </span>
                        </td>
                        <td>{{ question.user.username }}</td>
                        <td>
                            <div class="buttons-container flex gap-2 justify-center">
                                <a href="{{ path('question', {'id': question.id}) }}" class="button button-action">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="{{ path('question_edit', {'id': question.id}) }}" class="button button-action">
                                    <span class="material-icons">delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(questions) }}
            </div>

        </div>
    </div>

{% endblock %}