{% extends 'layout.html.twig' %}

{% set title = 'Add question' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Propose a question</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('questions') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
            </div>

        </div>

        {#        <div class="yaml-injector-container"> #}
        {#            <div> #}
        {#                <label for="yamlFileInput">Select YAML File</label> #}
        {#                <input type="file" id="yamlFileInput" accept=".yml,.yaml"> #}
        {#                <button id="loadFileButton" class="inject-button">Load & Inject</button> #}
        {#            </div> #}

        {#            <div id="errorMessage" class="error-message"></div> #}
        {#            <div id="successMessage" class="success-message"></div> #}
        {#        </div> #}


    </div>

    <div class="wrapper">

        <div class="form-container glass box bg-dark-grey-secondary">


            {{ include('partials/form/autocomplete.html.twig') }}
            {{ include('partials/form/errors.html.twig') }}

            {{ form_start(form) }}

            {{ include('partials/question/content.html.twig', _context) }}
            {{ include('partials/question/explanation.html.twig', _context) }}
            {{ include('partials/form/image.html.twig', _context) }}
            {{ include('partials/question/difficulty.html.twig', _context) }}
            {{ include('partials/question/categories.html.twig', _context) }}
            {{ include('partials/question/status.html.twig', _context) }}
            {{ include('partials/question/choices.html.twig', _context) }}

            {{ form_row(form._token) }}

            <div class="buttons-container mb-4">
                <a href="{{ path('questions') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Submit</button>
            </div>

            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}