{% extends 'base.html.twig' %}

{% block title %}New question{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="form-container glass box bg-dark-grey-secondary">
            <h1 class="title">Propose a new question</h1>

            {{ form_start(form) }}

            {{ include('partials/form/content.html.twig', _context) }}
            {{ include('partials/form/explanation.html.twig', _context) }}
            {{ include('partials/form/difficulty.html.twig', _context) }}
            {{ include('partials/form/categories.html.twig', _context) }}
            {{ include('partials/form/status.html.twig', _context) }}
            {{ include('partials/form/choices.html.twig', _context) }}

            <div class="buttons-container flex mb-4 gap-4 justify-end">
                <a href="{{ path('questions') }}" class="button button-primary button-red">Cancel</a>
                <button type="submit" class="button button-primary">Add</button>
            </div>

            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}