{% extends 'base.html.twig' %}

{% block title %}New question{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Propose a question</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('questions') }}">
                    <span class="material-icons">arrow_back</span>
                </a>
            </div>
        </div>
    </div>



    <div class="wrapper">


        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/form/error.html.twig') }}

            {{ form_start(form) }}

            {{ include('partials/form/content.html.twig', _context) }}
            {{ include('partials/form/explanation.html.twig', _context) }}
            {{ include('partials/form/difficulty.html.twig', _context) }}
            {{ include('partials/form/categories.html.twig', _context) }}
            {{ include('partials/form/status.html.twig', _context) }}
            {{ include('partials/form/choices.html.twig', _context) }}

            {{ form_row(form._token) }}

            <div class="buttons-container mb-4 gap-4">
                <a href="{{ path('questions') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Add</button>
            </div>

            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}