{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div>
        <p class="font-bold text-6xl text-center">Question</p>
    </div>

    <div id="quiz-container" data-mode="{{ mode }}" data-question-id="{{ questionId }}"></div>

    <a href="{{ path('question_edit', {'id': question.id}) }}"> Edit </a>

    <br>

    <div class="user-info">
        <h1>ID : {{ question.id }}</h1>
        <p>Question : {{ question.content }}</p>
        <p>Image : {{ question.image }}</p>
        <p>Creation date : {{ question.creationDate|date('d/m/Y') }}</p>
        <p>Update date : {{ question.updateDate|date('d/m/Y') }}</p>
        <p>Status : {{ question.status ? 'online' : 'offline' }}</p>

    </div>
{% endblock %}