{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Question {{ question.id }}</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('question_edit', {'id': question.id}) }}">
                    <span class="material-icons">edit</span>
                </a>
            </div>
        </div>
    </div>

    <div id="quiz-container" data-mode="{{ mode }}" data-question-id="{{ questionId }}"></div>

    <div class="wrapper">
        <div class="page-separator-container">
            <h2 class="title">Informations</h2>
        </div>
    </div>

    <div class="wrapper">
        <div class="form-container glass box bg-dark-grey-secondary">
            <div>
                <h2 class="small-title">Image</h2>
                {% if question.image %}
                    <p>{{ question.image }}</p>
                {% else %}
                    <p>No image.</p>
                {% endif %}
            </div>
            <div>
                <h2 class="small-title">Creation date</h2>
                <p>{{ question.creationDate|date('d/m/y') }}</p>
            </div>
            <div>
                <h2 class="small-title">Update date</h2>
                <p>{{ question.updateDate|date('d/m/y') }}</p>
            </div>
            <div>
                <h2 class="small-title">Status</h2>
                <span class="text-xs rounded-sm px-2 py-1 {{ question.status ? 'bg-green-secondary/50' : 'bg-red-secondary/50' }}">
                    {{ question.status ? 'online' : 'offline' }}
                </span>
            </div>
        </div>
    </div>

{% endblock %}