<div class="flex flex-col">
    <div class="w-full flex flex-col">
        <h2 class="small-title">
            <span class="material-icons">list</span>
            {{ form.choice.vars.label }}
        </h2>
        <ul class="choices-list" data-max-choices="{{ form.choice.vars.attr['data-max-choices'] }}">
            {% for choice in form.choice %}
                <li class="choice-item flex flex-col mb-8 relative">
                    {{ form_row(choice) }}
                    <button type="button"
                            class="button button-action absolute bottom-spacing-secondary right-spacing-secondary delete-choice">
                        <span class="material-icons">delete</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
        <ul class="choices-collection flex flex-col w-full"
            data-index="{{ form.choice|length > 0 ? form.choice|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.choice.vars.prototype)|e('html_attr') }}"
        ></ul>
        <button type="button" class="add_item_link button button-primary self-start"
                data-collection-holder-class="choices-collection">
            Add a choice
        </button>
    </div>
</div>