{% extends 'layout.html.twig' %}

{% set title = 'Blog' %}

{% block meta_description %}Meta description{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'blue', 'animate' : 'animate'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Blog</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('article_new') }}">
                    <span class="material-icons">add</span>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-large">

        {% if articles is empty %}
            <p>No articles found.</p>
        {% else %}
            <ul id="blog-container" class="grid grid-cols-1 max-w-[800px] lg:max-w-full mx-auto lg:grid-cols-3 gap-spacing-primary">

                {% for article in articles %}
                    <li class="card {{ is_granted('ROLE_EDITOR') and not article.status ? '' : 'card-blue' }} p-0 box glass flex flex-col items-start justify-start relative">
                        {% if article.image %}
                            <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" class="h-52 object-cover w-full rounded-tl-[inherit] rounded-tr-[inherit]" alt="{{ article.title }}">
                        {% endif %}
                        <article class="p-spacing-primary flex flex-col gap-4 grow">
                            <h3 class="text-xl items-center flex font-bold">
                                <a href="{{ path('article', { slug: article.slug }) }}" class="after:absolute after:inset-0">
                                    {{ article.title }}
                                </a>
                            </h3>
                            <p class="grow">{{ article.excerpt }}</p>
                            <div class="date-container flex gap-4 items-center">
                                <p class="flex items-center muted">
                                    <span class="material-icons mr-2 md-14 text-white">calendar_today</span>
                                    <span>{{ article.creationDate|date('d/m/Y') }}</span>
                                </p>
                            </div>
                        </article>
                    </li>
                {% endfor %}

            </ul>
        {% endif %}

    </div>
{% endblock %}