{% if articles is empty %}
    <p>No articles found.</p>
{% else %}
    <ul id="blog-container" class="grid grid-cols-1 max-w-[800px] lg:max-w-full mx-auto lg:grid-cols-3 gap-spacing-primary">

        {% for article in articles %}

            <li class="glass min-h-[500px] p-2 alternate {{ is_granted('ROLE_EDITOR') and not article.status ? 'disable' : '' }} p-0 box glass flex flex-col items-start justify-start relative">
                <div class="relative flex flex-col justify-end h-full">
                    {% if article.image %}
                        {#                        <div class="relative w-full"> #}
                        <img src="{{ asset('uploads/images/articles/' ~ article.image) }}" class="absolute h-52 object-cover w-full h-full rounded-radius-secondary" alt="{{ article.title }}">
                        {#                            <div class="absolute inset-0 top-auto h-24 bg-gradient-to-t from-very-dark-grey-primary to-transparent"></div> #}
                        {#                        </div> #}
                    {% endif %}

                    <article class="relative z-10 h-unset max-h-fit justify-end p-spacing-secondary flex flex-col gap-4 grow z-0">
                        <h3 class="text-2xl items-center flex font-bold">
                            <a href="{{ path('article', { slug: article.slug }) }}" class="after:absolute after:inset-0">
                                {{ article.title }}
                            </a>
                        </h3>
                        <p>{{ article.excerpt }}</p>
                                                <div class="date-container flex gap-4 items-center">
                                                    <p class="flex items-center muted">
                                                        <span class="material-icons mr-2 md-14 text-white">calendar_today</span>
                                                        <span>{{ article.creationDate|date('d/m/Y') }}</span>
                                                    </p>
                                                </div>

                        <div class="progressive-blur-container -z-10">
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="blur-filter"></div>
                            <div class="gradient"></div>
                        </div>
                    </article>
                </div>

            </li>
        {% endfor %}

    </ul>
{% endif %}
