{% extends 'base.html.twig' %}

{% block title %}Activity {{ parent() }}{% endblock %}

{% block body %}

    {#    {{ include('partials/banner.html.twig') }} #}


    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Activity</h1>
        </div>
    </div>

    <div class="wrapper wrapper-large">


        {#        {% for comment in comments %} #}
        {#            <p>{{ dump(comment.content) }}</p> #}
        {#        {% endfor %} #}

        <div class="overflow-auto">
            <table class="table glass">
                <thead>
                <tr>
{#                    <th>ID</th>#}
{#                    <th>User</th>#}
                    <th>Content</th>
                    <th>Creation date</th>
                    <th>Question</th>
                </tr>
                </thead>
                <tbody class="text-center">

                {% for comment in comments %}
                    <tr>
{#                        <td>{{ comment.id }}</td>#}
{#                        <td>{{ comment.user.username }}</td>#}
                        <td class="text-left">{{ comment.content|slice(0, 60) ~ (comment.content|length > 60 ? '...' : '') }}</td>
                        <td>{{ comment.creationDate|date('d/m/y') }}</td>
                        <td>
                            <div class="buttons-container">
                                <a href="{{ path('question', {'id': comment.question.id}) }}"
                                   class="button button-action">
                                    <span class="material-icons">visibility</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="buttons-container pt-8 relative">
            {% if previous >= 0 %}
                <a href="{{ path('activity', { offset: previous }) }}" class="button button-action absolute left-0">
                    <span class="material-icons">arrow_back</span>
                </a>
            {% endif %}
            {% if next < comments|length %}
                <a href="{{ path('activity', { offset: next }) }}" class="button button-action absolute right-0">
                    <span class="material-icons">arrow_forward</span>
                </a>
            {% endif %}
        </div>

    </div>

{% endblock %}

