<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0f0f0f"/>
    <meta name="description"
          content="{% block meta_description %}Challenge your web development skills with over 1,000 questions across 12 topics including HTML, CSS, JavaScript and more{% endblock %}">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{% block og_title %}{{ block('title') }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ block('meta_description') }}{% endblock %}">
    <meta property="og:image"
          content="{% block og_image %}{{ absolute_url(asset('images/decoration/quizstack-screenshot.png')) }}{% endblock %}">
    <meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}">
    <meta property="og:type" content="website">
    <title>{% block title %}Quizstack{% endblock %}</title>
    <link rel="canonical" href="{{ absolute_url(app.request.pathInfo) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/jpg" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap"
          rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

{{ include('partials/header.html.twig') }}

<body class="bg-very-dark-grey-primary text-white">

{% block body %}{% endblock %}

{{ include('partials/footer.html.twig') }}
{{ include('partials/noise-texture.html.twig') }}

</body>
</html>
