{% extends 'layout.html.twig' %}

{% set title = 'Learn web development through interactive quiz' %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'green'}) }}

    <div class="wrapper wrapper-large pt-spacing-large-secondary pb-spacing-large-secondary">

        <div class="flex flex-col gap-spacing-large-secondary">
            <div class="flex flex-col lg:flex-row gap-spacing-large-secondary items-center lg:items-start">
                <div class="flex flex-col gap-spacing-primary max-w-[600px] mx-auto">
                    <div class="flex flex-col gap-spacing-primary text-center lg:text-left">
                        <div class="flex fade-in-up items-start text-left justify-center lg:justify-start">
                            <p class="flex items-center px-3 py-2 bg-black/50 rounded-radius-secondary text-sm">
                                <span class="material-icons text-[18px] text-green-tertiary mr-2">money_off</span>
                                Completely free to use<span class="hidden sm:block">&nbsp;- no ads or hidden fees</span>
                            </p>
                        </div>
                        <h1 class="text-3xl sm:text-5xl lg:text-[42px] font-bold col-span-full fade-in-up">
                            Learn web development through <span class="text-green-tertiary">interactive quiz</span>
                        </h1>
                        <p class="fade-in-up">Challenge yourself with over 1k+ carefully crafted questions across 12
                            essential web development topics. Perfect your skills in HTML, JavaScript, React, and more -
                            all from your mobile or desktop device, anytime, anywhere.</p>
                    </div>
                    <div class="buttons-container">
                        <a class="button button-tertiary fade-in-up" href="#filters-section">
                            Select filters
                        </a>
                        <a class="button button-primary fade-in-up" href="{{ path('quiz') }}">
                            Play
                        </a>
                    </div>
                </div>
                <div id="demo-container"
                     class="fade-in-up flex justify-center min-h-[480px] w-[600px] max-w-full lg:max-w-[50%]"></div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-large pt-spacing-primary pb-spacing-primary">
        <ul class="grid grid-cols-1 max-w-[800px] lg:max-w-full mx-auto lg:grid-cols-3 gap-spacing-primary">
            <li class="card card-pink box glass flex flex-col items-start justify-start">
                <span class="material-icons max-w-[40px] overflow-hidden p-2 text-white-primary mb-4 flex items-center justify-center aspect-square rounded-radius-secondary">question_mark</span>
                <h3 class="text-2xl items-center flex font-bold mb-2">
                    1k+ questions
                </h3>
                <p>Comprehensive quiz library for all skill levels</p>
            </li>
            <li class="card card-green box glass flex flex-col items-start justify-start">
                <span class="material-icons max-w-[40px] overflow-hidden p-2 text-white-primary mb-4 flex items-center justify-center aspect-square rounded-radius-secondary">category</span>
                <h3 class="text-2xl items-center flex font-bold mb-2">
                    12 thematics
                </h3>
                <p>From HTML basics to advanced web security</p>
            </li>
            <li class="card card-blue box glass flex flex-col items-start justify-start">
                <span class="material-icons max-w-[40px] overflow-hidden p-2 text-white-primary mb-4 flex items-center justify-center aspect-square rounded-radius-secondary">group</span>
                <h3 class="text-2xl items-center flex font-bold mb-2">
                    100+ users
                </h3>
                <p>Join developers improving through daily practice</p>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <div id="filters-section" class="page-header-container">
            <h2 class="big-title grow">Filters</h2>
        </div>
        {{ include('partials/filters.html.twig', _context) }}
    </div>

    {{ include('partials/promotional/promotional-1.html.twig', _context) }}

    <div id="stacks-slider-container" class="pb-spacing-large-primary"></div>
{#    <div id="infinite-slider-container" class="pb-spacing-large-primary"></div>#}

    {{ include('partials/promotional/promotional-2.html.twig', _context) }}
    {{ include('partials/testimonials.html.twig') }}
    {{ include('partials/faq.html.twig') }}

{% endblock %}

