{% extends 'base.html.twig' %}

{% block title %}Categories {{ parent() }}{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig', {'color': 'gold'}) }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Hall of Fame</h1>
        </div>
    </div>

    <div class="wrapper">
        {% for score in scores %}
            <h2>{{ score.users.username }}</h2>
            <p>Week : {{ score.week }}</p>
            <p>Month : {{ score.month }}</p>
            <p>All Time : {{ score.allTime }}</p>
            <br/>
        {% else %}
            <p>No scores.</p>
        {% endfor %}
    </div>

{% endblock %}