{% extends 'base.html.twig' %}

{% block title %}User edit{% endblock %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit user informations</h1>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/user/username.html.twig', _context) }}
            {{ include('partials/user/email.html.twig', _context) }}
            {{ include('partials/user/last-authentication.html.twig', _context) }}
            {{ include('partials/user/inscription.html.twig', _context) }}

            {{ form_start(form) }}

            <div>
                <h2 class="small-title">{{ form.email.vars.label }}</h2>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                <h2 class="small-title">{{ form.email.vars.label }}</h2>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div>
                <h2 class="small-title">{{ form.roles.vars.label }}</h2>
                <ul class="tags-container">
                    {% for role in form.roles %}
                        <li class="flex">
                        <span class="tag">
                            {{ form_widget(role) }}
                            {{ form_label(role) }}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(form.roles) }}
            </div>

            <div class="buttons-container gap-4">
                <a href="{{ path('users') }}" class="button button-tertiary">Cancel</a>
                <button type="submit" class="button button-primary">Save</button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
