{% extends 'layout.html.twig' %}

{% set title = 'Edit user' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Edit user</h1>
            <div class="buttons-container">
                <a class="button button-action" href="{{ path('user', {'id': user.id}) }}">
                    <span class="material-icons">arrow_back</span>
                </a>
                {#                <a class="button button-action" href="{{ path('user_edit', {'id': user.id}) }}"> #}
                {#                    <span class="material-icons">edit</span> #}
                {#                </a> #}
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-small">
        <div class="form-container glass box bg-dark-grey-secondary">

            {{ include('partials/user/username.html.twig', _context) }}
            {{ include('partials/user/email.html.twig', _context) }}
            {{ include('partials/user/last-authentication.html.twig', _context) }}
            {{ include('partials/user/inscription.html.twig', _context) }}

            {{ form_start(form) }}

            <div>
                <h2 class="small-title">
                    <span class="material-icons">alternate_email</span>
                    {{ form.email.vars.label }}
                </h2>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">person</span>
                    {{ form.username.vars.label }}
                </h2>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div>
                <h2 class="small-title">
                    <span class="material-icons">group</span>
                    {{ form.roles.vars.label }}
                </h2>
                <ul class="tags-container">
                    {% for role in form.roles %}
                        <li class="flex">
                        <span class="tag">
                            {{ form_widget(role) }}
                            {{ form_label(role) }}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(form.roles) }}
            </div>

            <div class="buttons-container">
                <a href="{{ path('user', {'id': user.id}) }}" class="button button-tertiary">Cancel</a>
                {{ form_row(form.delete) }}
                {{ form_row(form.save) }}
                {#                <button type="submit" class="button button-primary">Save</button> #}
            </div>


            {#            <div class="buttons-container gap-4"> #}
            {#                <a href="{{ path('users') }}" class="button button-tertiary">Cancel</a> #}
            {#                {{ form_row(form.delete) }} #}
            {#                <button class="button button-primary" type="submit">Update</button> #}
            {#            </div> #}

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
