{% extends 'layout.html.twig' %}

{% set title = 'Users' %}

{% block body %}

    {{ include('partials/banner.html.twig') }}

    <div class="wrapper">
        <div class="page-header-container">
            <h1 class="big-title grow">Users</h1>
        </div>
    </div>

    <div class="wrapper wrapper-large">
        <div class="overflow-auto">
            <table class="table glass">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Rôle</th>
                    <th>Last authentication</th>
                    <th>Inscription</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <ul class="tags-container">
                                {% for role in user.roles %}
                                    <li>
                                        <span class="text-xs rounded-sm px-2 py-1 bg-black/50">{{ role }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ user.lastAuthenticationDate|date('d/m/y') }}</td>
                        <td>{{ user.inscriptionDate|date('d/m/y') }}</td>
                        <td>
                            <div class="buttons-container">
                                <a href="{{ path('user', {'id': user.id}) }}" class="button button-action">
                                    <span class="material-icons">visibility</span>
                                </a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="button button-action">
                                    <span class="material-icons">edit</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ include('partials/pagination.html.twig', {'page': 'users', 'pagination': users}) }}

    </div>

{% endblock %}