{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container">
        <h1>Users list</h1>

        <div class="users-list">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Rôle</th>
                    <th>Last authentication</th>
                    <th>Inscription</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        {#                        <td>{{ dump(user.roles) }}</td> #}
                        <td>
                            {% for role in user.roles %}
                                {% if "ROLE_ADMIN" in role %}
                                    admin
                                {% elseif "ROLE_EDITOR" in role %}
                                    editor
                                {% elseif "ROLE_USER" in role %}
                                    user
                                {% else %}
                                    {{ role }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.lastAuthenticationDate|date('d/m/Y') }}</td>
                        <td>{{ user.inscriptionDate|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('user', {'id': user.id}) }}" class="btn btn-sm btn-primary">See</a>
{#                        </td>#}
{#                        <td>#}
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun utilisateur trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(users) }}
            </div>

        </div>
    </div>
{% endblock %}