{% if form is defined and not form.vars.valid %}
    <ul class="mt-2">
        {% for error in form.vars.errors %}
            <li>{{ error.message }}</li>
        {% endfor %}

        {% for child in form.children %}
            {% if not child.vars.valid %}
                {% for error in child.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% if passwordForm is defined and not passwordForm.vars.valid %}
    <ul class="mt-2">
        {% for error in passwordForm.vars.errors %}
            <li>{{ error.message }}</li>
        {% endfor %}

        {% for child in passwordForm.children %}
            {% if not child.vars.valid %}
                {% for error in child.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
