<div>
    <h2 class="small-title">
        <span class="material-icons">image</span>
        {{ form.image.vars.label }}
    </h2>
    {{ form_widget(form.image) }}

    {% if form.image.vars.errors|length > 0 %}
        <p class="mt-2">
            {{ form_errors(form.image) }}
        </p>
    {% endif %}

    {% if form.deleteImage is defined %}
        <img class="mt-2 aspect-square rounded-full w-28 xl:w-32 object-cover border-light-grey-secondary border-2"
             src="{{ asset('/uploads/images/' ~ type ~ '/' ~ object.image) }}" alt="Profile picture">
        <ul class="tags-container mt-2">
            <li class="flex">
                <span class="tag">
                    {{ form_widget(form.deleteImage) }}
                    {{ form_label(form.deleteImage) }}
                </span>
            </li>
        </ul>
    {% endif %}

</div>
